@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1b1d;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

.navigation {
  background-color: #000000;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  font-size: 20px; /* Korjattu font-size yksikkö */
  justify-content: center;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.navigationLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navigationLink:hover {
  border-color: #646cff;
}

.create-product {
  display: flex;
  flex-direction: row;
  max-height: 110vh;
}

.list-product {
  background-color: #212124;
  color: white;
  width: 40vw;
  margin: 5vh auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: auto;
}

.communityFoodsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(255, 254, 254, 0.5);
  margin-bottom: 20px;
}
.communityCaloriesHeader,
.communityFoodsHeader {
  margin-left: auto;
  margin-right: auto;
}
.communityOtherContainer {
  display: flex;
  justify-content: space-around;
}
.communityProteinCarbs h5,
.communityFatSugar h5,
.communityProteinCarbs h5,
.communityCaloriesHeader h5 {
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.createProductContainer {
  background-color: #212124;
  color: white;
  width: 40vw;
  margin: 5vh auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createProductInputsContainer {
  display: flex;
  flex-direction: column;

  width: 66%;
}
.createProductInputsContainer input {
  margin: 0;
  padding: 0;
  width: 100px;
}

.createProductInputsContainer label {
}

.searchProductsContainer {
  align-items: center;
  background-color: #212124;
  height: 64vh;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.searchProductsContainer h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.searchButton {
  padding: 7px;
  margin-top: 10px;
  background-color: #101010;
  margin-left: 5px;
}

.eat {
  height: 10;
}
.eatenFoodsContainer {
  height: 40vh;
}
.searchResultsContainer {
  display: flex;
  flex-direction: row;

  width: 50vw;
  height: 80%;
  justify-content: space-around;
}
.searchResultsRightSide,
.searchResultsLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.searchResultsLeftSide p,
.searchResultsRightSide p {
  font-size: 18px;
  font-weight: 600;
}
.searchBarContainer {
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.searchBarContainer input {
  height: 75%;
  font-size: 20px;
  width: 300px;
}
.searchProductsSearchButton {
  height: 100%;
  margin: 0;
  padding: 10px;
}
.calorieConsumptionContainer {
  width: 100vw;

  height: 90vh;
  display: flex;
  justify-content: space-around;
}
.inputfieldsContainer {
  background-color: #212124;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 400px;
  justify-content: center;
  padding: 30px;
  margin-top: 3%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.createProductContainer input,
.inputfieldsContainer input,
.inputfieldsContainer select {
  height: 40px;
  font-size: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.inputfieldsContainer h3 {
  margin: 0;
  padding: 5px;
  margin-left: 12%;
  font-size: 23px;
}
.inputfieldsContainer button {
  height: 40px;
  width: 300px;
  margin: 0;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.resultsContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 80%;
  background-color: #212124;
  margin-top: 3%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.resultsHeaderContainer h2 {
  font-size: 26px;
  margin-top: 0;
}
.resultsDietHeaderContainer h2 {
  margin: 0;
}
.resultsBalancedDietContainer,
.resultsLowFatDietContainer,
.resultsLowCarbDietContainer,
.resultsHighProteinDietContainer {
  background-color: rgb(40, 40, 41);
  width: 30%;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.resultsBalancedDietContainer,
.resultsLowCarbDietContainer {
  margin-left: 17%;
}

.resultsLowFatDietContainer,
.resultsHighProteinDietContainer {
  margin-right: 17%;
}

.resultsBalancedDietContainer h4,
.resultsLowFatDietContainer h4,
.resultsLowCarbDietContainer h4,
.resultsHighProteinDietContainer h4 {
  margin-left: 25%;
}
.resultsBalancedDietContainer h5,
.resultsLowFatDietContainer h5,
.resultsLowCarbDietContainer h5,
.resultsHighProteinDietContainer h5 {
  margin-left: 10%;
}

.resultsDietHeaderContainer {
  margin-left: auto;
  margin-right: auto;
}

.resultsDietsLowerContainer,
.resultsDietsUpperContainer {
  display: flex;
  justify-content: space-around;
}

/*TOTAL CALORIES PAGE*/

.totalCaloriesContainer {
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.totalCaloriesSearchContainer {
  background-color: #212124;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 400px;
  justify-content: center;
  padding: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.totalCaloriesSearchContainer input {
  height: 40px;
  font-size: 20px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.totalsContainer {
  background-color: #212124;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 400px;
  justify-content: center;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  margin-left: 10vw;
  margin-top: auto;
  margin-bottom: auto;
}

/*LOGIN PAGE */

.loginpage,
.signupPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pleaselogin {
  margin-left: auto;
  margin-right: auto;
}
.loginform,
.signupContainer {
  background-color: #212124;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  justify-content: center;
  padding: 30px;
  margin-top: 3%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.loginform input,
.signupContainer input {
  height: 40px;
  font-size: 20px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.loginheader h1,
.signupContainer h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.loginButton button,
.signupButton {
  height: 40px;
  width: 250px;
  margin: 0;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.signupLink {
  margin-top: 20px;
}
